.web-app{
    height: 100vh;
    width: 100%;
}

.form-control{
    background-color: #e5e5e5;
    padding-left: 3rem;
}

form{
    position: relative;
}

form > figure{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 40px;
}

header{
    height: 8vh;
}

aside{
    height: 92vh;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #051e34;
}

.web-app-body-container{
    background-color: red;
    height: 92vh;
}

.web-app-body-header{
    width: 100%;
}