.web-app{
    height: 100vh;
    width: 100%;
}

.form-control{
    background-color: white;
    padding-left: 3rem;
}

form{
    position: relative;
}

form > figure{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 40px;
}

header{
    height: 8vh;
}

aside{
    height: 92vh;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #051e34;
    width: fit-content;
}

.web-app-body-container{
    height: 92vh;
}

.web-app-body-header{
    width: 100%;
}

.rslpgn-bg-primary-subtle{
    background-color: #165bba;
}

.badge.rounded-pill.rslpgn-bg-primary-subtle{
    height: fit-content;
}

.badge.rounded-pill.rslpgn-bg-primary-subtle.fs-7{
    font-family: sans-serif;
}

.w-1{
    width: 1%;
}

.white-hover:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 1s;
}

.white-hover{
    background-color: rgba(255, 255, 255, 0);
}

.list-hover:hover{
    background-color: rgba(95, 94, 94, 0.2);
}

.list-hover{
    background-color: rgba(95, 94, 94, 0);
}

.btn.add:hover {
    background-color: transparent;
    border-color: transparent;
}

.btn.add:hover > figure{
    background-color: white;
}

.btn.add:hover > figure > img{
    filter: invert(1);
}










@media screen and (min-width: 768px){
    .w-md-50{
        width: 50%;
    }
 }

 @media screen and (max-width: 991px){
    .offcanvas.offcanvas-end{
        width: 100%;
    }
 }

 @media screen and (min-width: 992px){
    .larghezza-lg{
        width: 20%;
    }

    .w-lg-20{
        width: 20%;
    }

    .w-lg-25{
        width: 25%;
    }

    .w-lg-30{
        width: 30%;
    }

    .w-lg-75{
        width: 75%;
    }

    .w-lg-50{
        width: 50%;
    }

    .w-lg-100{
        width: 100%;
    }

    .offcanvas.offcanvas-end{
        width: 40%;
    }
 }