.web-app{
    height: 100vh;
    width: 100%;
}

.form-control{
    background-color: #e5e5e5;
    padding-left: 3rem;
}

form{
    position: relative;
}

form > figure{
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 40px;
}

header{
    height: 8vh;
}

aside{
    height: 92vh;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #051e34;
    width: fit-content;
}

.web-app-body-container{
    height: 92vh;
}

.web-app-body-header{
    width: 100%;
}

.rslpgn-bg-primary-subtle{
    background-color: #165bba;
}

.badge.rounded-pill.rslpgn-bg-primary-subtle{
    height: fit-content;
}

.badge.rounded-pill.rslpgn-bg-primary-subtle.fs-7{
    font-family: sans-serif;
}

.w-1{
    width: 1%;
}












 @media screen and (max-width: 991px){
    .offcanvas.offcanvas-end{
        width: 100%;
    }
 }

 @media screen and (min-width: 992px){
    .larghezza-lg{
        width: 20%;
    }

    .w-lg-25{
        width: 25%;
    }

    .w-lg-75{
        width: 75%;
    }
 }